<a href="https://colab.research.google.com/github/bruno-ritter/PE-ratio-analysis/blob/main/P_E_Ratio_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Modules

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing the data from Nasdaq API

In [ ]:
import api_key
api_key = api_key.API_KEY

In [ ]:
pl_sp500 = pd.read_csv(f'https://data.nasdaq.com/api/v3/datasets/MULTPL/SP500_PE_RATIO_MONTH.csv?api_key={api_key}')
pl_sp500 = pl_sp500.set_index('Date').sort_index(ascending=True)
pl_sp500

            Value
Date
1871-01-01  11.10
1871-02-01  11.25
1871-03-01  11.52
1871-04-01  11.85
1871-05-01  12.15
...           ...
2022-05-31  20.88
2022-06-01  19.70
2022-06-30  19.13
2022-07-01  19.36
2022-08-01  20.81

[1844 rows x 1 columns]

In [ ]:
# Calculating some metrics
std_pl_sp500 = np.std(pl_sp500)
mean_pl_sp500 = np.mean(pl_sp500)